.btn {
    background-color:#2463EB;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-radius: 12px;
}