/* I dont think this is used? /Nadine */

.elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
}