.footer {
  display: flex;
  min-height: 100px;
  width: 80vp;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #8B8989;
  line-height: 25;
  letter-spacing: 1%;
}

.heart {
  color: #9CE5CA;
}
