.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  width: 1440px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  background-color: #EACFC4;

}
.navBar {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 50px;
  color: #8B8989;
  padding-right: 2rem;

}

.logo {
  color: #8B8989;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  letter-spacing: 32%;
  padding-left: 2rem;
}
