
.page-container{
    width: 80%;
    width: 1440px;
    background-color: rgba(228, 228, 231, 1);;
    display: flex;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.loginImage{
    margin-top: 30px;
    height: 300px;
    width:auto;
    height: 80%;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EACFC4;
    width: 750px;
}

.login-title{
    color: #8B8989;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 8px;
    padding-left: 2rem;   
}

.login-para{
    text-align: center;
    color: #8B8989;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    line-height: 2;
}

.form-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    text-align: left;
    padding: 0.7rem 0;
    margin: 0.5rem 0;
    border-radius: 8px;
    width: 300px;
    border: 1px solid lightgray;
    padding-left: 5px; 
}

::placeholder {
    color: black;
    font-size: 14px;
}

.Login-button-container{
    min-width: 150px;
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.Login-button{
    background: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    min-width: 80px;
    max-height: 40px;
    transition: background-color 0.3s;
    border: 1.5px solid #8B8989; 
    font-weight: bold;
}

.Login-button:hover {
    background-color: rgb(39, 39, 238);
    color: white;
}

.Login-p{
    font-family: 'Inter', sans-serif;
    color: #8B8989;
}