.logOutButton {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #2463EB;
    border-radius: 12px;
    outline: 2px solid lightgray;
    padding-left: 1rem;
    padding-right: 1rem;
}

